.display {
  background-color: white;
  display: grid;
  grid-area: 1/1/last-line/last-line;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(8,1fr);
  margin: 20px;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.5);
}

.svg-section {
  background-color: coral;
  grid-area: 1/1/last-line/4;
}

.text-section {
  background-color: coral;
  grid-area: 1/4/last-line/last-line;
  padding: 20px;
}

.sound-section {
  background-color: coral;
  padding: 20px;
  grid-area: 6/4/last-line/last-line;
}

@media only screen and (max-width: 800px){

  .display {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 200px 150px;
    margin: 0;
  }

  .svg-section {
    grid-area: 1/1/2/1;
  }

  .text-section {
    grid-area: 2/1/3/1;
  }
  
  .sound-section {
    grid-area: 3/1/4/1;
  }
  

}