.display {
  background-color: burlywood;
  grid-area: 1/1/5/8;
  display: grid;
  grid-template-rows: repeat(8,1fr);
  grid-template-columns: repeat(5,1fr);
}

.svg-section {
  background-color: coral;
  grid-area: 1/1/8/4;
}

.text-section {
  background-color: saddlebrown;
  grid-area: 1/4/6/last-line;
}

.sound-section {
  background-color: mediumaquamarine;
  grid-area: 6/4/8/last-line;
}