
.header {
  background-color: orange;
  align-items: center;
  justify-content: center;
  color: black;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  grid-area: 1/1/1/last-line;
}

.sidebar {
  background-color:grey;
  grid-area: 2/1/last-line/1;
  
}

.content {
  background-color: burlywood;
  grid-area: 2/2/8/last-line;
  display: grid;
  grid-template-rows: repeat(8,1fr);
  grid-template-columns: repeat(5,1fr);

}

.button-section {
grid-area: 8/2/last-line/last-line;
}

.footer {
  background-color: azure;
  grid-area: last-line/1/last-line/last-line;
}



.App {
  text-align: center;
  min-height: 100vh;
  background-color: black;
  display:grid;
  grid-template-rows: repeat(8,1fr);
  grid-template-columns: repeat(6,1fr);

}


