
.header {
  background-color: orange;
  align-items: center;
  justify-content: center;
  color: black;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  grid-area: 1/1/1/5;
}

.sidebar {
  background-color:grey;
  grid-area: 2/1/last-line/1;
  
}

.content1 {
  background-color: burlywood;
  grid-area: 2/2/7/4;
}

.content2 {
  background-color: cadetblue;
  grid-area: 2/4/7/5;
}


.footer {
  background-color: azure;
  grid-area: last-line/1/last-line/5;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: black;
  display:grid;
  grid-template-rows: repeat(6,1fr);
  grid-template-columns: repeat(4,1fr);

}


